@model MagicVilla_Web.Models.Dto.LoginRequestDTO

<div class="container p-4 border">
    <h1 class="text-primary">Login</h1>

    <hr />

    <form method="post">

        <div class="row pt-2">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>

        <div class="row pt-2">
            <div class="col-6 offset-3">
                <input asp-for="UserName" type="text" class="form-control" placeholder="Username" />
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-6 offset-3">
                <input asp-for="Password" type="text" class="form-control" placeholder="Password" />
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-6 offset-3">
                <button type="submit" class="form-control btn-success" value="Submit">Login</button>
            </div>
        </div>


    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}